/* Retrait de la margin naturelle du body + mise en place d'une police général */
body {
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
}

/* MEDIA QUERIES RULES */
@media all and (min-width: 1200px) {

    .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd hd hd hd hd hd hd hd hd"
        "nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav"
        "ctt ctt ctt ctt ctt ctt ctt ctt ctt ctt ctt ctt ctt ctt ctt ctt"
        "ft ft ft ft ft ft ft ft ft ft ft ft ft ft ft ft";
        justify-content: stretch;

    }

    .header {
        grid-area: hd;
        justify-self: center;

        
    }

    .nav {
        grid-area: nav;
        justify-self: center;
    }

    .content {
        grid-area: ctt;
        justify-self: center;
    }

    .footer {
        grid-area: ft;
        justify-self: center;
    }
	
    #title {
    	font-family: 'Itim', cursive;
    }


}
@media all and (min-width: 992px) and (max-width: 1200px) {


}
@media all and (min-width: 768px) and (max-width: 992px) {


}
@media all and (min-width: 576px) and (max-width: 768px) {


}
@media all and (max-width: 576px) {


}

    font-family: 'Caveat', cursive;

    font-family: 'Itim', cursive;

    font-family: 'Ubuntu', sans-serif;
