/* Retrait de la margin naturelle du body + mise en place d'une police général */
body {
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
}

/* MEDIA QUERIES RULES */
@media all and (min-width: 1200px) {

    .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "content content content content"
        "footer footer footer footer";
    }

    .header {
        grid-area: header;
        justify-self: center;
    }

    .nav {
        grid-area: nav;
        justify-self: center;
    }

    .content {
        grid-area: content;
        justify-self: center;
    }

    .footer {
        grid-area: footer;
        justify-self: center;
    }


}
@media all and (min-width: 992px) and (max-width: 1200px) {


}
@media all and (min-width: 768px) and (max-width: 992px) {


}
@media all and (min-width: 576px) and (max-width: 768px) {


}
@media all and (max-width: 576px) {


}

    font-family: 'Caveat', cursive;

    font-family: 'Itim', cursive;

    font-family: 'Ubuntu', sans-serif;